// Site basics
body {
	background-color: $bgcolor;
}

.container {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

// Helper classes
@for $i from 0 through 5 {
    .mb-#{$i} {
        margin-bottom: $i * 10px;
    }
}