// Inline code
code {
	font-family: 'Monaco', monospace;
	font-size: 13px;
}

/* prettier-ignore */
p, li, dd, td {
	> code {
		background: #ffeff0;
		word-wrap: break-word;
		box-decoration-break: clone;
		border-radius: 3px;
		padding: 3px 5px;
		position: relative;
		font-size: 14px;
		top: -1px;
	}
}

// Code block
pre {
	margin-bottom: $bottom-margin;
	position: relative;
	code {
		display: block;
		background: #fff0f0;
		white-space: pre;
		-webkit-overflow-scrolling: touch;
		overflow-x: scroll;
		max-width: 100%;
		min-width: 100px;
		padding: 20px;
		border-radius: 4px;
		border: 0;
		line-height: 1.6;
	}
	button {
		position: absolute;
		right: 5px;
		top: 5px;
		border: 0;
		background: #e7e7e7;
		padding: 3px 6px;
		border-radius: 3px;
		font-size: 13px;
		color: #666;
		opacity: 0;
		cursor: pointer;
		&:hover {
			background: #d5dae2;
			color: black;
			transition: background-color 0.2s;
		}
	}
	&:hover {
		button {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
}

pre {
	position: relative;
}
